@media (min-width: 412px) {
    .navigation-menu {
        flex-direction: column;
        margin: 20px auto;
        width: auto;
        text-align: center;
    }

    .slider {
        width: 412px;
    }

    .slider__controls {
        width: 412px;
    }

    .info-cart__info {
        width: 220px;
    }

    .info-cart__icon {
        display: none;
    }

    .tabs {
        width: 412px;
    }

    .tabs__content-card {
        width: 350px;
    }

    .tabs__content-image {
        width: 350px;
    }

    .tabs__tab-switch {
        width: auto;
    }

    .tabs__switch-title {
        display: none;
    }

    .tabs__separator {
        display: none;
    }

    .contacts {
        min-width: 412px;
    }

    .contact-subsection__map {
        width: 400px;
    }

    /* font-size adjustment */
    
    .slider__title {
        font-size: 20px;
    }

    .slider__subtitle {
        font-size: 14px;
    }

    .short-info__title {
        font-size: 22px;
    } 
    
    .short-info__subtitle {
        font-size: 16px;
    }
    
    .short-info__preamble {
        font-size: 15px;
    }

    .short-info__text {
        font-size: 11px;
    }

    .short-info__more-button {
        font-size: 14px;
    }

    .search-panel__title {
        font-size: 22px;
    }

    .search-panel__subtitle {
        font-size: 18px;
    }

    .tabs__tab-switch {
        font-size: 12px;
    }
}