@import url('../fonts/SourceSansPro/SourceSansPro.css');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    height: 165px;
}

.logo {
    width: 289px;
}

.header__logo {
    margin: 0 auto;
}

.logo__title {
    font-family: 'Source Sans Pro';
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: #716a72;
    margin-top: 60px;
    font-weight: 900;
    font-style: normal;
}

.logo__separator {
    background-color: #eaeaea;
    height: 1px;
    margin-top: 17px;
}

.navigation-menu {
    list-style: none;
    font-weight: 300;
    width: 690px;
    display: flex;
    justify-content: space-between;
}

.navigation__navigation-menu {
    margin: 34px auto 0;
}

.navigation-menu__item {
    text-transform: uppercase;
    color: #716a72;
    font-size: 16px;
    letter-spacing: 2px;
    transition: 0.3s color;
}

.navigation-menu__item:hover {
    color: #f1c40f;
}

.slider {
    width: 1230px;
    height: 547px;
    overflow: hidden;
    position: relative;
}

.slider-section__slider {
    margin: 17px auto 0;
}

.slider__controls {
    height: 122px;
    width: 1230px;
    position: absolute;
    z-index: 30;
    background: rgb(0, 0, 0, 0.45);
    bottom: 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.slider__title {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 900;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 3px;
}

.slider__subtitle {
    font-size: 18px;
    color: #fff;
    margin-top: -8px;
    letter-spacing: 1.5px;
}

.slider__control-arrow {
    width: 32px;
    height: 32px;
    margin: 43px 31px;
}

.slider__control-arrow:hover {
    cursor: pointer;
}

.slider__line {
    height: 547px;
    width: 4920px;
    display: flex;
    flex-direction: row;
    transition: ease-in-out 1s margin-left;
}

.slider__image {
    height: 547px;
    width: 1230px;
}