@media (min-width: 768px) {
    .slider {
        width: 768px;
    }

    .slider__controls {
        width: 768px;
    }

    .info-cart__info {
        width: 220px;
    }

    .info-cart__icon {
        display: none;
    }

    .tabs {
        width: 768px;
    }

    .tabs__content-card {
        width: 350px;
    }

    .tabs__content-image {
        width: 350px;
    }

    .contacts {
        min-width: 768px;
    }

    .contact-subsection__map {
        width: 450px;
    }
}