@media (min-width: 1024px) {
    .navigation-menu {
        list-style: none;
        font-weight: 300;
        width: 690px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: center;
    }

    .slider {
        width: 1024px;
    }

    .slider__controls {
        width: 1024px;
    }

    .slider__info {
        display: block;
    }

    .info-cart__info {
        width: 220px;
    }

    .info-cart__icon {
        display: block;
    }

    .tabs {
        width: 1024px;
    }

    .tabs__content-card {
        width: 470px;
    }

    .tabs__content-image {
        width: 470px;
    }

    .tabs__tab-switch {
        width: auto;
    }

    .tabs__switch-title {
        display: inline;
    }

    .tabs__separator {
        display: block;
    }

    .contacts {
        min-width: 1024px;
    }

    .contact-subsection__map {
        width: 450px;
    }
}